*{
font-family: racing sans one;
}
.home{
    background-image: url("./Images/flag.webp");
    background-size: contain;
    height: 300px;
    
}
.words{
    text-align: center;
}
.AKAN{
    color: yellowgreen;
}
.para{
    color: white;
    margin: 10%;
    font-size:xx-large;
}