*{
font-family: racing sans one;
}
.home{
    background-image: url("./Images/flag.webp");
    background-size: contain;
    height: 300px;
}
.words{
    text-align: center;
}
.AKAN{
    color: yellowgreen;
}
.para{
    color: white;
    margin: 10%;
}
.history{
    text-align: center;
}
.table{
    height: 300px;
}
.label{
    background-color: yellow;
    width: 40%;
    padding: 10px;
    margin: 50px;
    text-align: center;
    margin-left: 30%;
}
.form{
    display:flex;
    flex-direction: column;
}
.label input{
    margin: 15px;
    width: 150px;
    border-radius: 10px;
    margin-left: 35%;
    padding: 5px;
}
.button{
    width: 20%;
    margin-left: 40%;
    padding: 5px;
    background-color: green;
    border-radius: 5px;
}
.button:hover{
    background-color: yellowgreen;
}